<div *ngIf="travelLine">
  <h2 *ngIf="travelLine.name != undefined">{{travelLine.name.props.name}}</h2>
  <h2 *ngIf="travelLine.name == undefined">Create new Travel Line</h2>

  <div>
    <label>Travel Line Code:
      <input [(ngModel)]="travelLine.code" id="code" placeholder="code" />
    </label>
  </div>
  <div *ngIf="travelLine.name != undefined">
    <label>Name:
      <input [(ngModel)]="travelLine.name.props.name" placeholder="name" />
    </label>
  </div>
  <div *ngIf="travelLine.name == undefined">
    <label>Name:
      <input [(ngModel)]="name" id="name" placeholder="name" />
    </label>
  </div>
  <div *ngIf="travelLine.name == undefined">
    <label>Color:
      <input type="color" [(ngModel)]="travelLine.color" id="color" placeholder="color" />
    </label>
  </div>
  <div *ngIf="travelLine.name != undefined">
    <label>Color:
      <input type="color" [(ngModel)]="colorHex" placeholder="color" />
    </label>
  </div>
  <div *ngIf="travelLine.name == undefined">
    <label>Terminal Node 1:
      <select *ngIf="nodes" [(ngModel)]="terminalNode1">
        <option *ngFor="let node of nodes" value="{{node.shortName}}">{{node.fullName}}</option>
      </select>
    </label>
  </div>
  <div *ngIf="travelLine.name != undefined">
    <label>Terminal Node 1:
      <input [(ngModel)]="travelLine.terminalNode1" id="terminalNode1" placeholder="Terminal Node 1" />
    </label>
  </div>
  <div *ngIf="travelLine.name == undefined">
    <label>Terminal Node 2:
      <select *ngIf="nodes" [(ngModel)]="terminalNode2">
        <option *ngFor="let node of nodes" value="{{node.shortName}}">{{node.fullName}}</option>
      </select>
    </label>
  </div>
  <div *ngIf="travelLine.name != undefined">
    <label>Terminal Node 2:
      <input [(ngModel)]="travelLine.terminalNode2" id="terminalNode2" placeholder="Terminal Node 2" />
    </label>
  </div>
  <div *ngIf="travelLine.name == undefined">
    <label>Line Paths:
      <select *ngIf="paths" [(ngModel)]="selectedpath">
        <option *ngFor="let path of nodepaths" value="{{path.id}}">{{path.valor}}</option>
      </select>
    </label>
  </div>
  <div *ngIf="travelLine.name != undefined">
    <label>Line Paths:
      <input [(ngModel)]="pathById" id="selectedpath" placeholder="Path ID" />
    </label>
  </div>
  <div *ngIf="travelLine.name != undefined">
    <label>Orientation:
      <input [(ngModel)]="travelLine.linePaths[0].orientation" placeholder="orientation" />
    </label>
  </div>
  <div *ngIf="travelLine.name == undefined">
    <label>Orientation:
      <select id = "orientation">
        <option value="go">Go</option>
        <option value="return">Return</option>
        <option value="empty">Empty</option>
        <option value="backup">Backup</option>
      </select>
    </label>
  </div>
  <button (click)="goBack()">Back</button>
  <div class="divider"></div><button (click)="createTravelLine()">Create</button>
</div>