<!-- <div *ngIf="Sneakers">
    <h2>{{sneakers.name}}</h2>

    ############### EXEMPLO DE ESTRUTURA #########################

    <div>
      <label>Vehicle ID:
        <input [(ngModel)]="vehicleType.vehicleId" id="vehicleId" placeholder="vehicleId" />
      </label>
    </div>
    <div>
      <label>Name:
        <input [(ngModel)]="vehicleType.name" id="name" placeholder="name" />
      </label>
    </div>
    <div>
      <label>Autonomy:
        <input [(ngModel)]="vehicleType.autonomy" id="autonomy" placeholder="autonomy" />
      </label>
    </div>
    <div>
      <label>Cost:
        <input [(ngModel)]="vehicleType.cost" id="cost" placeholder="cost" />
      </label>
    </div>
    <div>
      <label>Average Speed:
        <input [(ngModel)]="vehicleType.averageSpeed" id="averageSpeed" placeholder="averageSpeed" />
      </label>
    </div>
    <div>
      <label>Fuel Type:
        <input [(ngModel)]="vehicleType.energySource.props.fuelType" id="fuelType" placeholder="fuelType" />
      </label>
    </div>
    <div>
      <label>Description:
        <input disabled [(ngModel)]="vehicleType.energySource.props.description" id="description" placeholder="description" />
      </label>
    </div>
    <div>
      <label>Consumption:
        <input [(ngModel)]="vehicleType.consumption" id="consumption" placeholder="consumption" />
      </label>
    </div>
    <div>
      <label>Emissions:
        <input [(ngModel)]="vehicleType.emissions" id="emissions" placeholder="emissions" />
      </label>
    </div>
    <button (click)="goBack()">Back</button>
    <div class="divider"></div><button (click)="createVehicleType()">Create</button>
  </div> -->
<!-- 
  ############ COMO ADICIONAR IMAGEM ########### -->
  <!-- <H1>File Upload</H1>
 <input type="file" (change)="onFileSelected($event)"> --> 